@model IEnumerable<ExamProject.Models.Voiture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrixParJour)*@
                Prix Par Jour (Dh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometrage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Couleur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" width="150px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque.NomMarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.NomModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixParJour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
